.music-song {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 13px;
  padding: 10px 5px;
  width: fit-content;
  border-bottom: 1px dashed lighten($app-font-color, 80%);
  > div {
    margin-right: 20px;
  }
  .duration {
    color: lighten($app-font-color, 40%);
  }
  input {
    border: 1px solid lighten($app-font-color, 80%);
    border-radius: 5px;
    outline: none;
    padding: 3px 5px;
  }
}
